.profile {
  width: 300px;
  margin: 10px auto 0;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  overflow: hidden;
}

.description {
  padding: 20px 20px 10px;
  text-align: center;
}

.avatar {
  width: 150px;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 50%;
  box-shadow: rgba(3, 102, 214, 0.5) 0px 0px 0px 3px;
}

.name {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 30px;
}

.tag {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 20px;
}

.location {
  margin: 0;
  font-size: 20px;
}

.stats {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.stats li {
  width: 100px;
  padding: 10px 10px 20px;
  text-align: center;
  background-color: #f0f8ff;
  border-top: 1px solid rgba(3, 102, 214, 0.5);
}

.stats li:not(:last-child) {
  border-right: 1px solid rgba(3, 102, 214, 0.5);
}

.label {
  display: block;
  margin-bottom: 10px;
}

.quantity {
  display: block;
  font-weight: bold;
  font-size: 20px;
}
